/* ////////////////////////////////////////////// fonts  */

/* titel font  */
@font-face {
  font-family: titelFont;
  src: url(../fonts/Nikea-4BVjK.otf);
}

@font-face {
  font-family: titelFont2;
  src: url(../fonts/ModernMachine-WyyO9.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
/* font-family: 'Inter', sans-serif;  */

/* tekst font  */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
/* font-family: 'Cabin', sans-serif;  */

/* /////////////////////////////////////////// kleuren */

:root {
  --bg-color: rgb(20, 20, 20);
  --main-color: #1b8bf9;
  --wit: white;
  --background: radial-gradient(circle, rgba(40,40,40,1) 0%, rgba(20,20,20,1) 100%);
}

/* ////////////////////////////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    background: var(--background);
  }

  /* /////////////////////////////////////////// navbar */

    /* /////////////////////////////////////////// about */

    .naam {
      font-family: titelFont;
      text-align: center;
      line-height: 100vh;
      text-transform: uppercase;
      color: var(--main-color);
      font-size: 60px;
      
    }

    .about-tekst {
      color: var(--wit);
      font-family: 'Cabin', sans-serif;
    }

    /* /////////////////////////////////////////// inhoud */

