/* RESPONSIVE LANDING /////////////////////  */

/* responsive  */

@media only screen and (max-width: 2125px) {
    .groet {
        position: absolute;
        top: 10%;
        left: 28%;
        transform: translate(-50%, -50%);
        font-size: 70px;
    }
}

@media only screen and (max-width: 1900px) {
    .groet {
        position: absolute;
        top: 10%;
        left: 32%;
        transform: translate(-50%, -50%);
        font-size: 70px;
    }
}

@media only screen and (max-width: 1670px) {
    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 40px;
        top: -50px;
        left: -5px;
    }
}

@media only screen and (max-width: 1100px) {
    .testnaam {
        position: relative;
        font-size: 120px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 30px;
        top: -40px;
        left: -5px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
    }
}

@media only screen and (max-width: 913px) {
    .testnaam {
        position: relative;
        font-size: 90px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 25px;
        top: -35px;
        left: -3px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
    }
}

@media only screen and (max-width: 687px) {
    .testnaam {
        position: relative;
        font-size: 70px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 25px;
        top: -35px;
        left: -4px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
    }
}

@media only screen and (max-width: 608px) {
    .testnaam {
        position: relative;
        font-size: 70px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 25px;
        top: -35px;
        left: -3px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
}

@media only screen and (max-width: 608px) {
    .testnaam {
        position: relative;
        font-size: 50px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 25px;
        top: -35px;
        left: -3px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
    }
}

@media only screen and (max-width: 380px) {
    .testnaam {
        position: relative;
        font-size: 40px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 25px;
        top: -35px;
        left: -3px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
}

@media only screen and (max-width: 305px) {
    .testnaam {
        position: relative;
        font-size: 35px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 25px;
        top: -35px;
        left: -3px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
    }
}

/* RESPONSIVE ABOUT /////////////////////  */

@media only screen and (max-width: 2211px) {
    section {
        height: 110%;
    }

    /* about  */

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    .earth-o {
        width: 100px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-about {
        font-size: 100px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 200px;
    }

    div .plaatjeAnimation {
        position: relative;
        animation: planetAnimation 1.5s linear 0s infinite alternate;
    }

    @keyframes planetAnimation {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 0px;
            top: 75px;
        }
        50% {
            left: 0px;
            top: 150px;
        }
        75% {
            left: 0px;
            top: 75px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
}

/* ///// */

@media only screen and (max-width: 1599px) {
    section {
        height: 110%;
    }

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    .earth-o {
        width: 80px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-about {
        font-size: 80px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 50px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 80px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 25px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 40px;
        line-height: 50px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 180px;
    }
}

/* ///// */

@media only screen and (max-width: 1279px) {
    section {
        height: 100%;
    }

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    .earth-o {
        width: 60px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-about {
        font-size: 60px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 40px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 80px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 25px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 20px;
        line-height: 50px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 120px;
    }
}

/* ///// */

@media only screen and (max-width: 960px) {
    section {
        height: 100%;
    }

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 250px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d00, transparent);
        z-index: 100;
    }

    .earth-o {
        width: 40px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-about {
        font-size: 40px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 30px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 80px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 20px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 20px;
        line-height: 50px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 120px;
    }
}

/* ///// */

@media only screen and (max-width: 640px) {
    section {
        height: 100%;
    }

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 175px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d00, transparent);
        z-index: 100;
    }

    .earth-o {
        width: 30px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-about {
        font-size: 30px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 25px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 80px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 20px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 20px;
        line-height: 50px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 120px;
    }
}

/* ///// */

@media only screen and (max-width: 479px) {
    section {
        height: 100%;
    }

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 175px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d00, transparent);
        z-index: 100;
    }

    .earth-o {
        width: 25px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-about {
        font-size: 25px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 20px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 80px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 20px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 20px;
        line-height: 50px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 120px;
    }
}

@media only screen and (max-width: 399px) {
    section {
        height: 100%;
    }

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 150px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d00, transparent);
        z-index: 100;
    }

    .earth-o {
        width: 20px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-about {
        font-size: 20px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 20px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 80px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 20px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 20px;
        line-height: 50px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 120px;
    }

    @keyframes planetAnimation {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 0px;
            top: 60px;
        }
        50% {
            left: 0px;
            top: 115px;
        }
        75% {
            left: 0px;
            top: 60px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
}

/* RESPONSIVE SKILLS /////////////////////  */

@media only screen and (max-width: 2268px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -800px;
    }

    .hoekplaatje-container {
        display: inline-block;
        position: relative;
    }

    .hoek-planeet {
        width: 1200px;
        margin-top: -1100px;
        margin-left: 1322px;
    }

    .rocket-i {
        width: 35px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 133px;
    }
}

/* /////  */

@media only screen and (max-width: 2197px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -400px;
    }

    .hoekplaatje-container {
        display: inline-block;
        position: relative;
    }

    .hoek-planeet {
        width: 1200px;
        margin-top: -900px;
        margin-left: 1000px;
    }

    .rocket-i {
        width: 30px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 110px;
    }
}

/* /////  */

@media only screen and (max-width: 1820px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -200px;
    }

    .hoekplaatje-container {
        display: inline-block;
        position: relative;
    }

    .hoek-planeet {
        width: 1200px;
        margin-top: -775px;
        margin-left: 800px;
    }

    .rocket-i {
        width: 25px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 90px;
    }
}

/* /////  */

@media only screen and (max-width: 1489px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    #my-skills img {
        width: 1300px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -300px;
    }

    .hoekplaatje-container {
        display: inline-block;
        position: relative;
    }

    .hoek-planeet {
        width: 1200px;
        margin-top: -700px;
        margin-left: 650px;
    }

    .rocket-i {
        width: 20px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 70px;
    }
}

/* /////  */

@media only screen and (max-width: 1279px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    #my-skills img {
        width: 2000px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -350px;
    }

    .hoekplaatje-container {
        display: none;
        position: relative;
    }

    .hoek-planeet {
        width: 1200px;
        margin-top: -700px;
        margin-left: 650px;
    }

    .rocket-i {
        width: 20px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 70px;
    }
}

/* /////  */

@media only screen and (min-width: 2560px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    #my-skills img {
        width: 2000px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -350px;
    }

    .hoekplaatje-container {
        display: inline-block;
        position: relative;
    }

    .hoek-planeet {
        width: 800px;
        margin-top: -1390px;
        margin-left: 1280px;
    }

    .rocket-i {
        width: 20px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 70px;
    }
}

/* /////  */

@media only screen and (max-width: 1159px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    #my-skills img {
        width: 1500px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -250px;
    }

    .rocket-i {
        width: 15px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 60px;
    }
}

/* /////  */

@media only screen and (max-width: 989px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    #my-skills img {
        width: 1150px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -125px;
    }

    .rocket-i {
        width: 14px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 50px;
    }
}

/* /////  */

@media only screen and (max-width: 828px) {
    #skills-panel {
        height: 80%;
    }

    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 250px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    #my-skills img {
        width: 1000px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -125px;
    }

    .rocket-i {
        width: 12px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 40px;
    }
}

/* /////  */

@media only screen and (max-width: 663px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 200px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d00, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    #my-skills img {
        width: 800px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -125px;
    }

    .rocket-i {
        width: 11px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 30px;
    }
}

/* /////  */

@media only screen and (max-width: 501px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 200px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d00, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    #my-skills img {
        width: 700px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -125px;
    }

    .rocket-i {
        width: 9px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 25px;
    }
}

/* /////  */

@media only screen and (max-width: 417px) {
    #skills-title {
        background-image: url("../images/601973.jpg");
        height: 200px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #skills-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d00, transparent);
        z-index: 100;
    }

    #my-skills {
        background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
        text-align: center;
    }

    #my-skills img {
        width: 600px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -125px;
    }

    .rocket-i {
        width: 9px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .skills {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-skills {
        font-size: 18.8px;
    }
}

/* RESPONSIVE WORK /////////////////////  */

/* work  */

@media only screen and (max-width: 1951px) {

    #work-title {
        background-image: url("../images/High_resolution_wallpaper_background_ID_77701898967.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #work-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-work {
        background-image: url("../images/darkspace.png");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
    }

    .endurance-o {
        width: 110px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .work {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-work {
        font-size: 125px;
    }

    .column {
        float: left;
        width: 50.33%;
        padding: 15px;
    }

    .column img {
        width: 90%;
    }

    .modal_row {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 225px;
    }

    .imgwork {
        transition: 0.2s ease-in-out;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .imgwork:hover {
        transform: scale(1.1);
    }
}


@media only screen and (max-width: 1719px) {

    #work-title {
        background-image: url("../images/High_resolution_wallpaper_background_ID_77701898967.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #work-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #my-work {
        background-image: url("../images/darkspace.png");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
    }

    .endurance-o {
        width: 100px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .work {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-work {
        font-size: 110px;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 15px;
    }

    .column img {
        width: 90%;
    }

    .modal_row {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 225px;
    }

    .imgwork {
        transition: 0.2s ease-in-out;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .imgwork:hover {
        transform: scale(1.1);
    }
}


@media only screen and (max-width: 1519px) {

    #work-title {
        background-image: url("../images/High_resolution_wallpaper_background_ID_77701898967.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #work-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }

    #work-panel {
        height: auto;
    }

    #my-work {
        background-image: url("../images/darkspace.png");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 36px;
    }

    .endurance-o {
        width: 100px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .work {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titel-work {
        font-size: 110px;
    }

    .column {
        float: none;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    
    .column img {
        width: 40%;
        height: auto;
        padding: 5px;
    }

    .modal_row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .imgwork {
        transition: 0.2s ease-in-out;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }

    .imgwork:hover {
        transform: scale(1.1);
    }
}