/* ////////////////////////////////////////////// fonts  */

/* titel font  */
@font-face {
    font-family: titelFont;
    src: url(../fonts/Nikea-4BVjK.otf);
}

@font-face {
    font-family: titelFont2;
    src: url(../fonts/ModernMachine-WyyO9.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(../fonts/Spaceboardsdemo-8MyRB.otf);
}

@font-face {
    font-family: tekstFont;
    src: url(../fonts/BmSpaceA9-x6O.ttf);
}

@font-face {
    font-family: pixelFont;
    src: url(../fonts/PublicPixel-z84yD.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
/* font-family: 'Inter', sans-serif;  */

/* tekst font  */
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
/* font-family: 'Cabin', sans-serif;  */

/* /////////////////////////////////////////// kleuren */

:root {
    --blackish: rgb(20, 20, 20);
    --blauw: #1b8bf9;
    --wit: white;
    --bg: radial-gradient(circle, rgba(40, 40, 40, 1) 0%, rgba(20, 20, 20, 1) 100%);
}

:root {
    --bp-small: 48em; /* 768px */
    --bp-medium: 64em; /* 1024px */
    --bp-large: 87.375em; /* 1366px */
    --bp-xlarge: 120em; /* 2560px */
    --bp-xxlarge: 160em; /* 768px */
}

/* ////////////////////////////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: cell;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/* /////////////////////////////////////////// inhoud */

#container {
    height: 100%;
}

section {
    height: 110%;
}

#footer-panel {
    height: 0%;
}

/* ///////////////////// landing */

#landing {
    position: relative;
    background-image: url("../images/space-bg.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #08090d, transparent);
    z-index: 10;
}

#landing div {
    color: var(--wit);
    font-family: pixelFont;
    text-transform: uppercase;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
}

.naam {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testnaam {
    position: relative;
    font-size: 150px;
}

.testnaam::before {
    content: "I am";
    position: absolute;
    font-size: 40px;
    top: -30px;
    left: -170px;
}

.groet {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

/* ///////////////////// about */

#about-title {
    background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: pixelFont;
    text-transform: uppercase;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    box-shadow: 5px 5px 10px 0px #000000;
}

#about-title:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #08090d, transparent);
    z-index: 100;
}

.earth-o {
    width: 140px;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}

#about-me {
    background-image: url("../images/cosmos-ged5694a44_1920.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
}

#about-me::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #08090d, transparent);
    z-index: 10;
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titel-about {
    font-size: 138px;
}

.introduction {
    text-align: center;
    font-family: pixelFont;
    font-size: 65px;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    padding-top: 80px;
}

.about-info {
    text-align: center;
    font-family: tekstFont;
    font-size: 40px;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    padding-top: 40px;
    line-height: 50px;
}

div .plaatjeAnimation {
    position: relative;
    animation: planetAnimation 1.2s linear 0s infinite alternate;
}

@keyframes planetAnimation {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 0px;
        top: 50px;
    }
    50% {
        left: 0px;
        top: 100px;
    }
    75% {
        left: 0px;
        top: 50px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.plaatje {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 200px;
}

/* ///////////////////// skills */
#skills-title {
    background-image: url("../images/601973.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: pixelFont;
    text-transform: uppercase;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    box-shadow: 5px 5px 10px 0px #000000;
}

#skills-title:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #08090d, transparent);
    z-index: 100;
}

#my-skills {
    background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
    text-align: center;
}

.skillsImage {
    padding-top: 20px;
    margin-left: -800px;
}

.hoekplaatje-container {
    display: inline-block;
    position: relative;
}

.hoek-planeet {
    width: 1200px;
    margin-top: -1400px;
    margin-left: 1322px;
}

.rocket-i {
    width: 35px;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}

.skills {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titel-skills {
    font-size: 133px;
}

/* responsive content 4K  */

@media screen and (min-width: 3840px) {
    .hoek-planeet {
        width: 2100px;
        margin-top: -1790px;
        margin-left: 1750px;
    }

    .skillsImage {
        padding-top: 20px;
        margin-left: -800px;
    }
}

/* ///////////////////// my work */
#work-title {
    background-image: url("../images/High_resolution_wallpaper_background_ID_77701898967.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: pixelFont;
    text-transform: uppercase;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
}

#work-title:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #08090d, transparent);
    z-index: 100;
}

#my-work {
    background-image: url("../images/darkspace.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
}

.endurance-o {
    width: 130px;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}

.work {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titel-work {
    font-size: 141px;
}

.column {
    float: left;
    width: 25.33%;
    padding: 15px;
}

.column img {
    width: 90%;
}

.modal_row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 225px;
}

.imgwork {
    transition: 0.2s ease-in-out;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}

.imgwork:hover {
    transform: scale(1.1);
}

/* ///////////////////// contact */
#contact-title {
    background-image: url("../images/contact.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: pixelFont;
    text-transform: uppercase;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
}

#contact-title:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #08090d, transparent);
    z-index: 100;
}

#contact-me {
    background-image: url("../images/186462.webp");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    padding: 2em;
    text-align: center;
}

form {
    display: inline-block;
}

.form-group {
    margin-bottom: 1.5em;
    transition: all 0.3s;
    width: 1000px;
}

.form-label {
    font-size: 30px;
    display: block;
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-50px);
    font-family: pixelFont;
    padding-bottom: 20px;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
}

.form-control {
    background-image: url("../images/966932addf40da9dccfacad5d09b15da.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        box-shadow: 5px 5px 10px 0px #000000;
    border-radius: 0;
    border-color: rgb(123, 56, 205);
    border-style: none none solid none;
    width: 100%;
    font-size: 20px;
    transition: all 0.6s;
    font-family: pixelFont;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    padding: 20px;
    color: var(--wit);
}

.form-control::placeholder {
    color: rgb(255, 255, 255);
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    color: var(--wit);
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    caret-color: rgb(142, 50, 255);
    box-shadow: 5px 5px 10px 0px #000000;
}

.form-group:focus-within {
    transform: scale(1.05, 1.05);
}

.form-control:invalid:focus {
    border-color: red;
}

.form-control:valid:focus {
    border-color: green;
}

.btn {
    font-family: pixelFont;
    color: var(--wit);
    background-color: #080808;
    border-radius: 3px;
    border: 1px solid rgb(123, 56, 205);
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    letter-spacing: 2px;
    box-shadow: 5px 5px 10px 0px #000000;
}

textarea {
    resize: none;
}

.focused > .form-label {
    opacity: 1;
    transform: translateX(0px);
}

.planet-o {
    width: 110px;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}

.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titel-contact {
    font-size: 111px;
}





/* /////////////////////////////////////////////////////// RESPONSIVE  */

/* xx-large 4K ////////////////////// */

@media only screen and (min-width: 2560px) {
    section {
        height: 100%;
    }


    /* about  */

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }
    
    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }
    
    .earth-o {
        width: 160px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }
    
    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .titel-about {
        font-size: 160px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 95px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 60px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 55px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 60px;
        line-height: 70px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 250px;
    }

    div .plaatjeAnimation {
        position: relative;
        animation: planetAnimation 1.5s linear 0s infinite alternate;
    }

    @keyframes planetAnimation {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 0px;
            top: 100px;
        }
        50% {
            left: 0px;
            top: 200px;
        }
        75% {
            left: 0px;
            top: 100px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
}


/* 2000px ////////////////////// */

@media only screen and (max-width: 2000px) {
    section {
        height: 100%;
    }


    /* about  */

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }
    
    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }
    
    .earth-o {
        width: 130px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }
    
    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .titel-about {
        font-size: 124px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 75px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 60px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 45px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 60px;
        line-height: 70px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 250px;
    }

    div .plaatjeAnimation {
        position: relative;
        animation: planetAnimation 1.5s linear 0s infinite alternate;
    }

    @keyframes planetAnimation {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 0px;
            top: 100px;
        }
        50% {
            left: 0px;
            top: 200px;
        }
        75% {
            left: 0px;
            top: 100px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
}

/* 1920px ////////////////////// */

@media only screen and (max-width: 1920px) {

    /* about  */

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }
    
    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }
    
    .earth-o {
        width: 120px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }
    
    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .titel-about {
        font-size: 120px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 70px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 60px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 27px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 40px;
        line-height: 50px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 200px;
    }

    div .plaatjeAnimation {
        position: relative;
        animation: planetAnimation 1.5s linear 0s infinite alternate;
    }

    @keyframes planetAnimation {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 0px;
            top: 75px;
        }
        50% {
            left: 0px;
            top: 150px;
        }
        75% {
            left: 0px;
            top: 75px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
}

/* x-large ////////////////////// */

@media only screen and (max-width: 1440px) {
    section {
        height: 110%;
    }


    /* about  */

    #about-title {
        background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-family: pixelFont;
        text-transform: uppercase;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        box-shadow: 5px 5px 10px 0px #000000;
    }
    
    #about-title:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #08090d, transparent);
        z-index: 100;
    }
    
    .earth-o {
        width: 90px;
        filter: drop-shadow(7px 7px 7px #000000);
        -webkit-filter: drop-shadow(7px 7px 7px #000000);
    }
    
    .about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .titel-about {
        font-size: 90px;
    }

    .introduction {
        text-align: center;
        font-family: pixelFont;
        font-size: 50px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 60px;
    }

    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 35px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 50px;
        line-height: 70px;
    }

    .plaatje {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 200px;
    }

    div .plaatjeAnimation {
        position: relative;
        animation: planetAnimation 1.5s linear 0s infinite alternate;
    }

    @keyframes planetAnimation {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 0px;
            top: 100px;
        }
        50% {
            left: 0px;
            top: 200px;
        }
        75% {
            left: 0px;
            top: 100px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
}