/* ////////////////////////////////////////////// fonts  */

/* titel font  */
@font-face {
    font-family: titelFont;
    src: url(../fonts/Nikea-4BVjK.otf);
}

@font-face {
    font-family: titelFont2;
    src: url(../fonts/ModernMachine-WyyO9.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(../fonts/Spaceboardsdemo-8MyRB.otf);
}

@font-face {
    font-family: tekstFont;
    src: url(../fonts/BmSpaceA9-x6O.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
/* font-family: 'Inter', sans-serif;  */

/* tekst font  */
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
/* font-family: 'Cabin', sans-serif;  */

/* /////////////////////////////////////////// kleuren */

:root {
    --blackish: rgb(20, 20, 20);
    --blauw: #1b8bf9;
    --wit: white;
    --bg: radial-gradient(circle, rgba(40, 40, 40, 1) 0%, rgba(20, 20, 20, 1) 100%);
}

/* ////////////////////////////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: cell;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/* /////////////////////////////////////////// hamburger menu */

/* /////////////////////////////////////////// inhoud */

#container {
    height: 100%;
}

section {
    height: 110%;
}

#footer-panel {
    height: 0%;
}

/* ///////////////////// landing */

#landing {
    position: relative;
    background-image: url("../images/space-bg.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #08090d, transparent);
    z-index: 10;
}

#landing div {
    color: var(--wit);
    font-family: titelFont;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
}

.naam {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testnaam {
    position: relative;
    font-size: 150px;
}

.testnaam::before {
    content: "I am";
    position: absolute;
    font-size: 40px;
    top: -30px;
    left: -150px;
}

.groet {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

/* responsive  */

@media only screen and (max-width: 1600px) {
    .groet {
        position: absolute;
        top: 10%;
        left: 28%;
        transform: translate(-50%, -50%);
        font-size: 70px;
    }
}

@media only screen and (max-width: 1400px) {
    .groet {
        position: absolute;
        top: 10%;
        left: 32%;
        transform: translate(-50%, -50%);
        font-size: 70px;
    }
}

@media only screen and (max-width: 1250px) {
    .groet {
        position: absolute;
        top: 10%;
        left: 35%;
        transform: translate(-50%, -50%);
        font-size: 70px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 40px;
        top: -50px;
        left: 300px;
    }
}

@media only screen and (max-width: 1211px) {
    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
    }
}

@media only screen and (max-width: 900px) {
    .testnaam {
        position: relative;
        font-size: 120px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 30px;
        top: -40px;
        left: 250px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
    }
}

@media only screen and (max-width: 750px) {
    .testnaam {
        position: relative;
        font-size: 90px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 25px;
        top: -35px;
        left: 175px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
    }
}

@media only screen and (max-width: 570px) {
    .testnaam {
        position: relative;
        font-size: 70px;
    }

    .testnaam::before {
        content: "I am";
        position: absolute;
        font-size: 25px;
        top: -35px;
        left: 124px;
    }

    .groet {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
    }
}

/* ///////////////////// about */

#about-title {
    background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: titelFont;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    box-shadow: 5px 8px 6px black;
}

#about-title:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #08090d, transparent);
    z-index: 100;
}

.earth-o {
    width: 120px;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}

#about-me {
    background-image: url("../images/space2.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
}

.about {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titel-about {
    font-size: 138px;
}

.introduction {
    text-align: center;
    font-family: titelFont;
    font-size: 60px;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    padding-top: 60px;
}

.about-info {
    text-align: center;
    font-family: tekstFont;
    font-size: 25px;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    padding-top: 40px;
    line-height: 50px;
}

div .plaatjeAnimation {
    position: relative;
    animation: planetAnimation 1.2s linear 0s infinite alternate;
}

@keyframes planetAnimation {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:50px;}
    50%  {left:0px; top:100px;}
    75%  {left:0px; top:50px;}
    100% {left:0px; top:0px;}
  }

.plaatje {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



/* responsive content  */

@media only screen and (max-width: 1920px) {
    .introduction {
        text-align: center;
        font-family: titelFont;
        font-size: 70px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 60px;
    }
    
    .about-info {
        text-align: center;
        font-family: tekstFont;
        font-size: 28px;
        text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
        color: var(--wit);
        padding-top: 40px;
        line-height: 50px;
    }

    div .plaatjeAnimation {
        position: relative;
        animation: planetAnimation 1.5s linear 0s infinite alternate;
    }
    
    @keyframes planetAnimation {
        0%   {left:0px; top:0px;}
        25%  {left:0px; top:75px;}
        50%  {left:0px; top:150px;}
        75%  {left:0px; top:75px;}
        100% {left:0px; top:0px;}
      }
}


/* responsive titel */



/* ///////////////////// skills */
#skills-title {
    background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: titelFont;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    box-shadow: 5px 8px 6px black;
}

#skills-title:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #08090d, transparent);
    z-index: 100;
}

#my-skills {
    background-image: url("../images/space2.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
}

.rocket-i {
    width: 30px;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}


.skills {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titel-skills {
    font-size: 133px;
}



/* ///////////////////// my work */
#work-title {
    background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: titelFont;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    box-shadow: 5px 8px 6px black;
}

#work-title:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #08090d, transparent);
    z-index: 100;
}

#my-work {
    background-image: url("../images/space2.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
}

.endurance-o {
    width: 121px;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}

.work {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titel-work {
    font-size: 141px;
}

.column {
    float: left;
    width: 25.33%;
    padding: 15px;
  }
  
  /* Clearfix (clear floats) */
  
  
  .modal_row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
}

.imgwork {
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    transition: ease-in-out 0.2s;
}

.imgwork:hover {
    transform: scale(1.1);
}

/* ///////////////////// contact */
#contact-title {
    background-image: url("../images/earth-g8f9ff5b73_1920.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: titelFont;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
    box-shadow: 5px 8px 6px black;
}

#contact-title:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #08090d, transparent);
    z-index: 100;
}

#contact-me {
    background-image: url("../images/space2.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
}

.planet-o {
    width: 90px;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}

.contact {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titel-contact {
    font-size: 111px;
}

/* ///////////////////// footer */

#footer {
    background-color: var(--blackish);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: titelFont;
    text-shadow: 11px 11px 9px rgba(0, 0, 0, 1);
    color: var(--wit);
}
